{% extends "partial/layout.html.twig" %}

{% block title %}{{ t("forgot_password_page_name", "Forgot Password") }}{% endblock %}
{% block description %}{{ t("forgot_password_meta_description", "Forgot account password") }}{% endblock %}
{% block keywords %}{{ t("forgot_password_meta_keywords", "forgot, password, account, image, picture, pic, img, hosting, sharing, upload, storage, site, website") }}{% endblock %}

{% block body %}
    <section class="height-80 text-center">
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-md-7 col-lg-5">
                    <h2>{{ t("forgot_password_page_name", "Forgot Password") }}</h2>
                    
                    {% if msg_page_errors is defined %}
                    <div class="alert bg--error">
                        <div class="alert__body"><i class="fa fa-exclamation-triangle color--error"></i>&nbsp;&nbsp;{% if msg_page_errors is defined %}{{ msg_page_errors|join('. ') }}{% endif %}</div>
                    </div>
                    {% endif %}
                    
                    <p>{{ t("forgot_password_sent_intro_text", "An email has been sent with further instructions on how to reset your password. Please check your email inbox.", {'EMAIL_ADDRESS': emailAddress}) }}</p>
                    <span class="type--fine-print block">
                        <a href="{{ CORE_SITE_PATH }}/register">{{ t("register", "register")|title }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{{ CORE_SITE_PATH }}/account/login">{{ t("login", "login")|title }}</a>
                    </span>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
{% endblock %}