{% extends "partial/firedrop_layout.html.twig" %}

{% block title %}{{ t('enter_file_password', 'Enter File Password') }} - {{ file.originalFilename }}{% endblock %}
{% block description %}{{ t("file_download_description", "Download file")~' - '~file.originalFilename }}{% endblock %}
{% block keywords %}{{ file.getFileKeywords() }}{% endblock %}

{% block body %}
   
       <section id="content_header">
	<div class="container text-center">
		<h1>File Encrypted</h1>
    </div>
</section>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" data-backdrop="static">
 <form method="POST" action="{{ file.getFullLongUrl() }}?pt={{ pt }}" autocomplete="off">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        
        <h4 class="modal-title"><i class="fa fa-lock"></i>  File Encrypted</h4>
      </div>
      <div class="modal-body">

                    {% if msg_page_errors is defined %}
                        <p class="alert alert-warning text-center"><i class="fa fa-exclamation-triangle"></i> Invalid decryption key</p>
                    {% endif %}
					
					 <br />
                       <p>The owner of this file has encrypted it using an encryption key. Please enter the key to continue</p>
                <div class="input-group col-md-8"><span class="input-group-addon"><i class="fa fa-key"></i></span>
                                <input name="filePassword" id="filePassword" type="password" class="form-control" placeholder="Key" autocomplete="off" autofocus="" value="">
                             </div>
                            <input type="hidden" name="submitted" value="1"/>
                             <br />
                           </div>
      <div class="modal-footer">
        <button type="submit" name="submit" class="btn btn-primary">Continue</button>
      </div>
    </div>
  </div>
</form>
</div>
<script type="text/javascript">
 $(window).load(function(){
        $('#myModal').modal('show');
    });
</script>



<section id="content_box" class="container text-center">	
	<span style="font-size:256px;"><i class="fa fa-lock"></i></span>  
</section>

    
{% endblock %}

{% block footerjs %}
    {% if downloadPageData['additional_javascript_code'] is defined %}
        {{ downloadPageData['additional_javascript_code']|raw }}
    {% endif %}
{% endblock %}