{% extends "partial/firedrop_layout.html.twig" %}

{% block title %}403{% endblock %}
{% block description %}{{ t("error_page_403_detail", "Unauthorised!") }}{% endblock %}
{% block keywords %}{{ t("error_page_403_meta_keywords", "error, image, picture, pic, img, hosting, sharing, upload, storage, site, website") }}{% endblock %}

{% block body %}
   <div id="wrap">
<section id="content_header">
	<div class="container text-center">
		<h1>403</h1>
    </div>
</section>



<section class="content_divider container text-center">
</section>




<section id="content_box" class="container text-center">
                     	<h2>{{ t("error_page_403_detail", "Unauthorised!") }}</h2>

                     <a href="{{ CORE_SITE_PATH }}">« {{ t('go_back_to_home', 'Go back to home') }}</a>

</section>
         </div>
{% endblock %}